@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Tanha.eot");
  src: url("../fonts/Tanha.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Tanha.woff2") format("woff2"),
    url("../fonts/Tanha.woff") format("woff"),
    url("../fonts/Tanha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}
.MuiCard-root::-webkit-scrollbar {
  display: none;
}
.shadowBoxBlack {
  box-shadow: 0px 0px 10px rgb(0, 0, .1) !important;

}
.shadowBoxWhite {
  box-shadow: 0px 0px 10px rgb(194, 193, 193) !important;

}
.MuiSelect-select{
padding: 13px 10px !important;
}
